# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

In [ ]:
Sim

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [2]:
# a)
nome = ['joana','maria','susi','derlei']

In [3]:
# b)
nome [1]

'maria'

In [8]:
# c)
len(nome)

4

In [9]:
# d)
nome[1] = 'Antônio'
nome

['joana', 'Antônio', 'susi', 'derlei']

In [10]:
# e)
nome [1:]

['Antônio', 'susi', 'derlei']

In [11]:
#f) 
nome.remove('derlei')
nome

['joana', 'Antônio', 'susi']

In [12]:
# g)

salarios = [900,1200,1500,800,12587,10000]

In [13]:
# h)
10000 in salarios

True

In [16]:
# i) 
max(salarios)
min(salarios)

800

In [17]:
# J)
salarios.append(7000)

In [20]:
# i) 
salarios + [896 ,1520]

[900, 1200, 1500, 800, 12587, 10000, 7000, 896, 1520]

In [22]:
# m)
salarios.index(800)

3

In [27]:
# n)
salarios.sort()
salarios
salarios.sort(reverse =True)
salarios

[12587, 10000, 7000, 1500, 1200, 900, 800]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [28]:
# a)

dic1 = {'Rodrigo':30 ,'Joana':25 ,'Susi':19 ,'Celeste':43,'Otavio':35}

In [29]:
# b)
dic1['Joana']

25

In [30]:
# c)
dic1.keys()

dict_keys(['Rodrigo', 'Joana', 'Susi', 'Celeste', 'Otavio'])

In [31]:
# d) 
dic1.values()

dict_values([30, 25, 19, 43, 35])

In [33]:
# e)
dic1.setdefault('Felipe',30)

30

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [34]:
# a)

if 5 > 1 :
    print('5 é maior que 1!')

5 é maior que 1!

In [39]:
# b)
x1 = 12
y1 = 25

if x1 > y1:
    print('x1 é maior que y1')
else:
    print('y1 é maior que x1')

y1 é maior que x1

In [41]:
# c
list2 = [2,3,4,5,6,7]

for x in  list2:
    print (x *2)

4
6
8
10
12
14